body {
  background-color: #2c2c2c;
}

.head {
  color: darkblue;
}


#bglime {
  background-color: lime;
}

#bglime span {
  color: red;
}

p {
  color: white;
}

#para {
  color: green;
}

#para span {
  color: black;
  font-size: 22px;
}

a {
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}